h1{
  text-align: center;
  color: gray;

}

.pokedex{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap:20px;
  column-gap:20px;
}

.pokecard{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.pokecard h3{
  color: blue;
}